@page
@model IndexModel

<!--Name: Aaron Keith Sanders
    GUID: G00225605
    UA Grantham
    IS337: Sever Side Web Development
    Evelyn Simpson
    W1 Lab Assignment
    12 July 2025
-->

@{
    // Changed the Title to include my name
    ViewData["Title"] = "Aaron Keith Sanders - Home Page";
}

<div class="text-center">
    <!-- Changed the heading content from the Welcome message to include my name and Student GUID-->
    <h1 class="display-4">Hello ASP.NET Core! Its Aaron Keith Sanders! G00225605</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
